@model Core.VerificationCodes.VerificationCode
<div data-ng-app="registerApp" data-ng-controller="registrationController as vm" data-ng-init="vm.init('@Model.Key', '@Model.AffiliateCode', @Model.ResendCount)" class="ng-cloak">
    @Html.AntiForgeryToken()

    <div class="modal modal--message fade" id="modal_message" tabindex="-1" role="dialog">
        <div class="modal_valign">
            <div class="modal_valign__row">
                <div class="modal_valign__cell">
                    <div class="modal__dialog" role="document">
                        <div class="modal__content">
                            <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                            <div class="modal__body">
                                <h3>Confirm country of residence</h3>
                                <div class="text">
                                    <p>Please confirm your country of residence in {{vm.data.selectedCountryName}}</p>
                                </div>
                            </div>
                            <div class="modal__footer">
                                <button type="button" class="btn btn--flat--brand" data-dismiss="modal">Select other</button>
                                <button type="button" class="btn btn--brand" data-dismiss="modal" data-ng-click="vm.handlers.setPhone()">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="vm.data.step == 1">
        <span class="hint_accent">Step 1 of 5</span>
        <h4>Verify e-mail</h4>
        <p class="lead">Please enter the verification code we sent to your e-mail address.</p>
        <form name="vm.step1Form" class="form form_register" novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-group" data-ng-class="{'input-group--error': !vm.data.step1Form.result}">
                    <input type="text" placeholder="Code" class="form-control" name="Code" data-ng-model="vm.data.step1Form.code" required>
                </div>
                <div>
                    <span class="label_error" data-ng-show="!vm.data.step1Form.result && !vm.data.step1Form.isCodeExpired">This code is incorrect. Please retype</span>
                    <span class="label_error" data-ng-show="vm.data.step1Form.isCodeExpired">The code has been expired and no longer valid. Try to sign up again</span>
                    <span class="label_error" data-ng-show="vm.data.step1Form.result && vm.data.step1Form.isEmailTaken"
                          data-ng-bind="'Email '+vm.data.step1Form.email+ ' is already in use. Your verification code is no longer valid. Try with another email.'"></span>
                </div>
                <button class="btn btn--flat--brand" type="button" data-ng-click="vm.data.showResendBlock = !vm.data.showResendBlock"
                        data-ng-hide="vm.data.step1Form.result && vm.data.step1Form.isEmailTaken || vm.data.step1Form.isCodeExpired">
                    Resend the code
                </button>
            </div>

            <div data-ng-show="vm.data.showResendBlock">
                <div class="form-group" data-ng-hide="vm.data.step1Form.result && vm.data.step1Form.isEmailTaken || vm.data.step1Form.resendCount > 2 || vm.data.step1Form.isCodeExpired">
                    <div class="g-recaptcha" vc-recaptcha key="'@ViewBag.RecaptchaKey'" on-success="vm.handlers.successCaptcha(response)" on-expire="vm.handlers.errorCaptcha()" required="false"></div>
                    <div class="text-center" style="margin-top: 10px;">
                        <button type="button" class="btn btn--brand btn-sm" data-ng-disabled="!vm.data.step1Form.captchaResponse || vm.data.step1Form.resendCount > 2"
                                data-ng-class="{'btn_loading': vm.data.step1Form.resendingCode}"
                                data-ng-bind="vm.data.step1Form.resendCount === 0 ? 'Send' : 'Send again'"
                                data-ng-click="vm.handlers.resendCode()"></button>
                    </div>
                </div>
                <div data-ng-show="vm.data.step1Form.resendCount > 2">Max resend count reached</div>
            </div>

            <div data-ng-repeat="error in vm.data.summaryErrors" class="label_error" data-ng-bind="error"></div>

            <div class="submit-group">
                <button class="btn btn--brand btn-block" data-ng-class="{'btn_loading': vm.data.loading}" type="submit"
                        data-ng-hide="vm.data.step1Form.result && vm.data.step1Form.isEmailTaken || vm.data.step1Form.isCodeExpired"
                        data-ng-disabled="!vm.step1Form.$valid || vm.data.loading"
                        data-ng-click="vm.handlers.verifyEmail()">
                    Submit
                </button>
                <button data-ng-show="vm.data.step1Form.result && vm.data.step1Form.isEmailTaken || vm.data.step1Form.isCodeExpired" class="btn btn--brand btn-block" type="submit" data-ng-click="vm.handlers.goToLogin()">Back</button>
            </div>
        </form>
    </div>
    <div data-ng-show="vm.data.step == 2">
        <span class="hint_accent">Step 2 of 5</span>
        <h4>Country and phone</h4>
        <form class="form form_register" name="vm.step2Form" novalidate autocomplete="off">
            <p class="lead">Country of residence</p>
            <div class="form-group">
                <div class="input-group">
                    <select class="custom-select" ng-model="vm.data.step2Form.countryOfResidence" ng-change="vm.handlers.changeCountryOfResidence()">
                        <option ng-repeat="item in vm.data.countries" value="{{item.id}}" ng-selected="{{item.selected}}" prefix="{{item.prefix}}">{{item.title}}</option>
                    </select>
                </div>
                <div ng-show="vm.step2Form.$submitted">
                    <span class="label_error" data-ng-show="vm.data.step2Form.countryOfResidence == null">Select country, please</span>
                </div>
            </div>
            <p class="lead">Phone number</p>
            <div class="form-group">
                <div class="input-group">
                    <select class="custom-select" ng-model="vm.data.selectedCountry" ng-change="vm.handlers.changeCountry()">
                        <option ng-repeat="item in vm.data.countries" value="{{item.id}}" ng-selected="{{item.selected}}" prefix="{{item.prefix}}">{{item.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" data-ng-class="{'input-group--error': !vm.step2Form.phone.$valid && vm.step2Form.phone.$touched}">
                    <input type="text" class="form-control" data-ng-model="vm.data.step2Form.phone" ng-change="vm.data.step2Form.isPhoneTaken = false" minlength="4" maxlength="15" />
                </div>
                <div ng-show="vm.step2Form.$submitted">
                    <span class="label_error" data-ng-show="vm.data.step2Form.phone == null">Phone number is required</span>
                    <span class="label_error" data-ng-show="vm.data.step2Form.isPhoneTaken">Phone number is already in use.</span>
                </div>
            </div>
            <div class="submit-group">
                <button class="btn btn--brand btn-block" data-ng-class="{'btn_loading': vm.data.loading}" type="submit" data-ng-disabled="!vm.step2Form.$valid" data-ng-click="vm.handlers.confirmPhone()">Submit</button>
            </div>
        </form>
    </div>
    <div data-ng-show="vm.data.step == 3">
        <span class="hint_accent">Step 3 of 5</span>
        <h4>Verify phone number</h4>
        <p class="lead">Please enter the verification code we sent to your phone number.</p>
        <form name="vm.step3Form" class="form form_register" novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="Code" class="form-control" name="Code" data-ng-model="vm.data.step3Form.code" required>
                </div>
                <div>
                    <span class="label_error" data-ng-show="vm.data.step3Form.code.$error.required">Code is required</span>
                    <span class="label_error" data-ng-show="vm.data.step3Form.isNotValidCode">Code is not valid.</span>
                </div>
            </div>

            <div class="submit-group">
                <button class="btn btn--brand btn-block" data-ng-class="{'btn_loading': vm.data.loading}" data-ng-disabled="!vm.step3Form.$valid || vm.data.loading" type="submit" data-ng-click="vm.handlers.setPhoneCode()">
                    Submit
                </button>
                <button data-ng-show="vm.data.step3Form.result" class="btn btn--brand btn-block" type="submit" data-ng-click="vm.handlers.goToLogin()">Back</button>
            </div>
        </form>
    </div>

    <div data-ng-show="vm.data.step == 'ukQuestionnaireHelp'">
        <span class="hint_accent">Additional questionnaire for UK users. Help</span>
        <h4>UK users questionnaire. Help</h4>

        <form name="vm.ukUserQuestionnaireHelpForm" class="form form_register" novalidate autocomplete="off">
            <div class="form-group">
                <strong>Why do I have to do this?</strong>
                <p>
                We are required by the Financial Conduct Authority to ensure all customers fall into one of three investor profiles. 
                This enables us to offer you our services. Learn more here.
                </p>

                <strong>High risk investments are:</strong>
                <p>
                Peer-to-Peer (P2P) loans; investment-based crowdfunding; units in long-term asset funds; unlisted debt and equity 
                (such as in companies not listed on a stock exchange like the London Stock Exchange).
                </p>

                <strong>Annual income does not include:</strong>
                <p>
                Any one-off pension withdrawals.
                </p>

                <strong>Net assets to not include:</strong>
                <p>
                Your home (primary residence), your pension (or any pension withdrawals) or any right under qualifying contracts of insurance.
                </p>
            </div>

            <div class="submit-group">
                <button class="btn btn--brand btn-block"
                        style="margin-top: 0px;"
                        type="submit"
                        data-ng-click="vm.handlers.beginUkQuestionnaire()">
                    Begin 
                </button>
            </div>
        </form>
    </div>

    <div data-ng-show="vm.data.step == 'ukQuestionnaireInvestorType'">
        <span class="hint_accent">Additional questionnaire for UK users. Investor type</span>
        <h4>UK users questionnaire</h4>
        <form name="vm.ukUserQuestionnaireInvestorTypeForm" class="form form_register" novalidate autocomplete="off">

            <div class="form-group">
                <div class="input-group">
                    <p>
                        All crypto exchanges in the UK are required to collect a self categorization of investors into one of three profiles. 
                        Please select the one that you think fits you best.
                    </p>
                    <p>
                        Please note that we can not offer you our services if you do not fall into one of the categories above
                    </p>

                    <div class="row form-check"
                         ng-repeat="answer in vm.ukUserQuestionnaire.investorTypeClassificationAnswers">
                        <div class="col-xs-1">
                            <input class="form-check-input"
                                   id="ukUserQuestionnaireInvestorTypeFormAnswer_{{ $index }}"
                                   name="ukUserQuestionnaireInvestorTypeFormAnswer_{{ $index }}"
                                   type="radio"
                                   data-ng-value="{{ $index }}"
                                   data-ng-model="vm.data.ukUserQuestionnaireInvestorTypeForm.selectedAnswerIndex" />
                        </div>
                        <div class="col-xs-11">
                            <label class="form-check-label" for="ukUserQuestionnaireInvestorTypeFormAnswer_{{ $index }}">{{ answer.title }}</label>
                            <p>{{ answer.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="submit-group">
                <button class="btn btn--brand btn-block"
                        type="submit"
                        data-ng-class="{'btn_loading': vm.data.loading}"
                        data-ng-disabled="vm.data.loading"
                        data-ng-click="vm.handlers.ukQuestionnaireInvestorTypeBack()">
                    Back
                </button>
                <button class="btn btn--brand btn-block"
                        style="margin-top: 0px;"
                        type="submit"
                        data-ng-class="{'btn_loading': vm.data.loading}"
                        data-ng-disabled="vm.data.ukUserQuestionnaireInvestorTypeForm.selectedAnswerIndex === null || vm.data.loading"
                        data-ng-click="vm.handlers.setUkQuestionnaireInvestorTypeAnswer()">
                    Next
                </button>
            </div>
        </form>
    </div>

    <div data-ng-show="vm.data.step == 'ukQuestionnaireInvestorStatement'">
        <div data-ng-show="vm.data.ukUserQuestionnaire.investorType == 'CertifiedSophisticated'">
            <span class="hint_accent">Additional questionnaire for UK users. SOPHISTICATED INVESTOR STATEMENT</span>
            <h4>UK users questionnaire</h4>
            
            <form name="vm.ukUserQuestionnaireSISForm" class="form form_register" novalidate autocomplete="off">

                <div class="form-group">
                    <div class="input-group">
                        <p id="ukUserQuestionnaireSISForm_Question">
                            Please confirm whether you qualify as a sophisticated investor on the basis that in the last 
                            three years you have received a certificate from an authorised firm confirming you understand 
                            the risks involved with high - risk investments.
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSISForm_No"
                                       name="ukUserQuestionnaireSISForm_No"
                                       type="radio"
                                       data-ng-value="0"
                                       data-ng-model="vm.data.ukUserQuestionnaireSISForm.selectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSISForm_No">No</label>
                            </div>
                        </div>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSISForm_Yes"
                                       name="ukUserQuestionnaireSISForm_Yes"
                                       type="radio"
                                       data-ng-value="1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSISForm.selectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSISForm_Yes">Yes</label>
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSISForm_YesExtraQuestion"
                           class="mt-1rem">
                            If yes, what is the name of the authorised firm?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-12">
                                
                                <input type="text" 
                                       class="form-control"
                                       placeholder="Firm name" 
                                       name="ukUserQuestionnaireSISForm_YesExtraAnswer"
                                       data-ng-required="vm.data.ukUserQuestionnaireSISForm.selectedAnswerIndex == 1"
                                       data-ng-disabled="vm.data.ukUserQuestionnaireSISForm.selectedAnswerIndex != 1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSISForm.yesExtraAnswer" />
                            </div>
                        </div>                      

                        <div class="row form-check mt-2rem">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSISForm_Signature"
                                       name="ukUserQuestionnaireSISForm_Signature"
                                       type="checkbox"
                                       data-ng-model="vm.data.ukUserQuestionnaireSISForm.isSigned" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSISForm_Signature">
                                    I accept that being a sophisticated investor will expose me to promotions for investment where there is a
                                    significant risk of losing all the money I invest. I am aware that it is open to me to seek professional
                                    advice before making any investment in a high-risk investment.
                                </label>
                            </div>
                        </div>

                        <p class="mt-1rem">Date: {{ vm.data.ukUserQuestionnaireSISForm.date.toLocaleDateString() }}</p>

                    </div>
                </div>

                <div class="submit-group">
                    <button class="btn btn--brand btn-block"
                            type="submit"
                            data-ng-class="{'btn_loading': vm.data.loading}"
                            data-ng-disabled="vm.data.loading"
                            data-ng-click="vm.handlers.ukQuestionnaireInvestorStatementBack()">
                        Back
                    </button>
                    <button class="btn btn--brand btn-block"
                            style="margin-top: 0px;"
                            type="submit"
                            data-ng-class="{'btn_loading': vm.data.loading}"
                            data-ng-disabled="!vm.data.ukUserQuestionnaireSISForm.isFilled() || vm.data.loading"
                            data-ng-click="vm.handlers.setUkQuestionnaireSISAnswer()">
                        Next
                    </button>
                </div>
            </form>
        </div>

        <div data-ng-show="vm.data.ukUserQuestionnaire.investorType == 'SelfCertifiedSophisticated'">
            <span class="hint_accent">Additional questionnaire for UK users. SELF-CERTIFIED SOPHISTICATED INVESTOR STATEMENT</span>
            <h4>UK users questionnaire</h4>
            
            <form name="vm.ukUserQuestionnaireSCSISForm" class="form form_register" novalidate autocomplete="off">

                <div class="form-group">
                    <div class="input-group">
                        <div id="ukUserQuestionnaireSCSISForm_GeneralQuestion">
                            <p>
                                Please confirm whether you qualify as a self-certified sophisticated investor on the basis that A, B, C or D apply to you.
                            </p>
                            <p>
                                In the last two years have you:
                            </p>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_AQuestion">
                            A) worked in private equity or in the provision of finance for small and medium enterprises?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_ANo"
                                       name="ukUserQuestionnaireSCSISForm_ANo"
                                       type="radio"
                                       data-ng-value="0"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.aSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_ANo">No</label>
                            </div>
                        </div>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_AYes"
                                       name="ukUserQuestionnaireSCSISForm_AYes"
                                       type="radio"
                                       data-ng-value="1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.aSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_AYes">Yes</label>
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_AYesExtraQuestion"
                           class="mt-1rem">
                            If yes, what is the name of the business or organization?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-12">                                
                                <input type="text" 
                                       class="form-control"
                                       placeholder="Firm name" 
                                       name="ukUserQuestionnaireSCSISForm_AYesExtraAnswer"
                                       data-ng-required="vm.data.ukUserQuestionnaireSCSISForm.aSelectedAnswerIndex == 1"
                                       data-ng-disabled="vm.data.ukUserQuestionnaireSCSISForm.aSelectedAnswerIndex != 1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.aYesExtraAnswer" />
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_BQuestion"
                           class="mt-2rem">
                            B) been the director of a company with an annual turnover of at least GBP 1 million?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_BNo"
                                       name="ukUserQuestionnaireSCSISForm_BNo"
                                       type="radio"
                                       data-ng-value="0"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.bSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_BNo">No</label>
                            </div>
                        </div>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_BYes"
                                       name="ukUserQuestionnaireSCSISForm_BYes"
                                       type="radio"
                                       data-ng-value="1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.bSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_BYes">Yes</label>
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_BYesExtraQuestion"
                           class="mt-1rem">
                            If yes, what is the name of the company?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-12">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Firm name"
                                       name="ukUserQuestionnaireSCSISForm_BYesExtraAnswer"
                                       data-ng-required="vm.data.ukUserQuestionnaireSCSISForm.bSelectedAnswerIndex == 1"
                                       data-ng-disabled="vm.data.ukUserQuestionnaireSCSISForm.bSelectedAnswerIndex != 1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.bYesExtraAnswer" />
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_CQuestion"
                           class="mt-2rem">
                            C) made two or more investments in an unlisted company?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_CNo"
                                       name="ukUserQuestionnaireSCSISForm_CNo"
                                       type="radio"
                                       data-ng-value="0"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.cSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_CNo">No</label>
                            </div>
                        </div>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_CYes"
                                       name="ukUserQuestionnaireSCSISForm_CYes"
                                       type="radio"
                                       data-ng-value="1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.cSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_CYes">Yes</label>
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_CYesExtraQuestion"
                           class="mt-1rem">
                            If yes, how many investments in unlisted companies have you made in the last two years?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-12">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Firm name"
                                       name="ukUserQuestionnaireSCSISForm_CYesExtraAnswer"
                                       data-ng-required="vm.data.ukUserQuestionnaireSCSISForm.cSelectedAnswerIndex == 1"
                                       data-ng-disabled="vm.data.ukUserQuestionnaireSCSISForm.cSelectedAnswerIndex != 1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.cYesExtraAnswer" />
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_DQuestion"
                           class="mt-2rem">
                            D) been a member of a network or syndicate of business angels for more than six months?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_DNo"
                                       name="ukUserQuestionnaireSCSISForm_DNo"
                                       type="radio"
                                       data-ng-value="0"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.dSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_DNo">No</label>
                            </div>
                        </div>

                        <div class="row form-check">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_DYes"
                                       name="ukUserQuestionnaireSCSISForm_DYes"
                                       type="radio"
                                       data-ng-value="1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.dSelectedAnswerIndex" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_DYes">Yes</label>
                            </div>
                        </div>

                        <p id="ukUserQuestionnaireSCSISForm_DYesExtraQuestion"
                           class="mt-1rem">
                            If yes, what is the name of the network or syndicate?
                        </p>

                        <div class="row form-check">
                            <div class="col-xs-12">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Firm name"
                                       name="ukUserQuestionnaireSCSISForm_DYesExtraAnswer"
                                       data-ng-required="vm.data.ukUserQuestionnaireSCSISForm.dSelectedAnswerIndex == 1"
                                       data-ng-disabled="vm.data.ukUserQuestionnaireSCSISForm.dSelectedAnswerIndex != 1"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.dYesExtraAnswer" />
                            </div>
                        </div>

                        <div class="row form-check mt-2rem">
                            <div class="col-xs-1">
                                <input class="form-check-input"
                                       id="ukUserQuestionnaireSCSISForm_Signature"
                                       name="ukUserQuestionnaireSCSISForm_Signature"
                                       type="checkbox"
                                       data-ng-model="vm.data.ukUserQuestionnaireSCSISForm.isSigned" />
                            </div>
                            <div class="col-xs-11">
                                <label class="form-check-label" for="ukUserQuestionnaireSCSISForm_Signature">
                                    I accept that being a sophisticated investor will expose me to promotions for investment 
                                    where there is a significant risk of losing all the money I invest. I am aware that it is 
                                    open to me to seek professional advice before making any investment in a high-risk investment.
                                </label>
                            </div>
                        </div>

                        <p class="mt-1rem">Date: {{ vm.data.ukUserQuestionnaireSCSISForm.date.toLocaleDateString() }}</p>

                    </div>
                </div>

                <div class="submit-group">
                    <button class="btn btn--brand btn-block"
                            type="submit"
                            data-ng-class="{'btn_loading': vm.data.loading}"
                            data-ng-disabled="vm.data.loading"
                            data-ng-click="vm.handlers.ukQuestionnaireInvestorStatementBack()">
                        Back
                    </button>
                    <button class="btn btn--brand btn-block"
                            style="margin-top: 0px;"
                            type="submit"
                            data-ng-class="{'btn_loading': vm.data.loading}"
                            data-ng-disabled="!vm.data.ukUserQuestionnaireSCSISForm.isFilled() || vm.data.loading"
                            data-ng-click="vm.handlers.setUkQuestionnaireSCSISAnswer()">
                        Next
                    </button>
                </div>
            </form>
        </div>

        <div data-ng-show="vm.data.ukUserQuestionnaire.investorType == 'Restricted'">
            Restricted
        </div>
        <div data-ng-show="vm.data.ukUserQuestionnaire.investorType == 'HighNetWorthIndividual'">
            HighNetWorthIndividual
        </div>
    </div>

    <div data-ng-show="vm.data.step == 'ukQuestionnaire'">
        <span class="hint_accent">Additional questionnaire for UK users. Question {{ vm.data.ukUserQuestionnaireForm.currentQuestionIndex + 1 }} of {{ vm.ukUserQuestionnaire.generalQuestions.length }}</span>
        <h4>UK users questionnaire</h4>
        <form name="vm.ukUserQuestionnaireForm" class="form form_register" novalidate autocomplete="off">

            <div class="form-group">
                <div class="input-group">
                    <p>{{vm.data.ukUserQuestionnaireForm.currentQuestionnaireEntry.question}}</p>

                    <div class="row form-check"
                         ng-repeat="answer in vm.data.ukUserQuestionnaireForm.currentQuestionnaireEntry.answers">
                        <div class="col-xs-1">
                            <input class="form-check-input" 
                                   id="ukUserQuestionnaireFormAnswer_{{ $index }}"
                                   name="ukUserQuestionnaireFormAnswer_{{ $index }}"
                                   type="radio"                                   
                                   data-ng-value="{{ $index }}"
                                   data-ng-model="vm.data.ukUserQuestionnaireForm.selectedAnswerIndex" />
                            </div>
                        <div class="col-xs-11">
                            <label class="form-check-label" for="ukUserQuestionnaireFormAnswer_{{ $index }}">{{ answer }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="submit-group">
                <button class="btn btn--brand btn-block"                        
                        type="submit"
                        data-ng-class="{'btn_loading': vm.data.loading}"
                        data-ng-disabled="vm.data.loading"
                        data-ng-click="vm.handlers.ukQuestionnaireBack()">
                    Back
                </button>
                <button class="btn btn--brand btn-block"
                        style="margin-top: 0px;"
                        type="submit"
                        data-ng-class="{'btn_loading': vm.data.loading}" 
                        data-ng-disabled="vm.data.ukUserQuestionnaireForm.selectedAnswerIndex === null || vm.data.loading" 
                        data-ng-click="vm.handlers.setUkQuestionnaireAnswer()">
                    {{ vm.data.ukUserQuestionnaireForm.isLastQuestion ? "Submit" : "Next" }}
                </button>                
            </div>
        </form>
    </div>

    <div data-ng-show="vm.data.step == 4">
        <span class="hint_accent">Step 4 of 5</span>
        <h4>Create password</h4>
        <p class="lead">Enter the password to protect you profile. Use 10 or more characters, uppercase and lowercase letter, number and not more than 2 identical characters in a row.</p>
        <form class="form form_register" name="vm.step4Form" novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-group" data-ng-class="{'input-group--error': !vm.step4Form.Password.$valid && vm.step4Form.Password.$touched}">
                    <input type="{{(vm.data.step4Form.showPassword ? 'text' : 'password')}}" data-ng-model-options="{ debounce: 300 }" data-ng-trim="false" placeholder="Password" class="form-control" name="Password" data-ng-model="vm.data.step4Form.password" required strong-password>
                    <i class="icon input-group-addon" data-ng-class="{'icon--show_password' : !vm.data.step4Form.showPassword, 'icon--hide_password' : vm.data.step4Form.showPassword}"
                       data-ng-click="vm.data.step4Form.showPassword = !vm.data.step4Form.showPassword"></i>
                </div>
                <div ng-show="vm.step4Form.$submitted || vm.step4Form.Password.$touched">
                    <span class="label_error" data-ng-show="vm.step4Form.Password.$error.required">Password is required</span>
                    <span class="label_error" data-ng-show="vm.step4Form.Password.$error.strongPassword">The password length should not be less than 10 characters including both an uppercase and lowercase letter, number and not more than 2 identical characters in a row.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" data-ng-class="{'input-group--error': (!vm.step4Form.ConfirmPassword.$valid ||vm.data.step4Form.confirmPassword.length && vm.data.step4Form.password !== vm.data.step4Form.confirmPassword) && vm.step4Form.ConfirmPassword.$touched}">
                    <input type="{{(vm.data.step4Form.showConfirmPassword ? 'text' : 'password')}}" data-ng-trim="false" placeholder="Confirm password" class="form-control" name="ConfirmPassword" data-ng-model="vm.data.step4Form.confirmPassword" required>
                    <i class="icon input-group-addon" data-ng-class="{'icon--show_password' : !vm.data.step4Form.showConfirmPassword, 'icon--hide_password' : vm.data.step4Form.showConfirmPassword}" data-ng-click="vm.data.step4Form.showConfirmPassword = !vm.data.step4Form.showConfirmPassword"></i>
                </div>
                <div ng-show="vm.step4Form.$submitted || vm.step2Form.ConfirmPassword.$touched">
                    <span class="label_error" data-ng-show="vm.step4Form.ConfirmPassword.$error.required">Confirm password</span>
                    <span class="label_error" data-ng-show="vm.step4Form.Password.$valid && vm.data.step4Form.confirmPassword.length && vm.data.step4Form.password !== vm.data.step4Form.confirmPassword">Passwords do not match</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" data-ng-class="{'input-group--error': !vm.step4Form.Hint.$valid && vm.step4Form.Hint.$touched}">
                    <input type="text" data-ng-model-options="{ debounce: 300 }" data-ng-trim="false" placeholder="Hint" class="form-control" name="Hint" data-ng-model="vm.data.step4Form.hint" required>
                </div>
                <div ng-show="vm.step4Form.$submitted || vm.step4Form.Hint.$touched">
                    <span class="label_error" data-ng-show="vm.step4Form.Hint.$error.required">Hint is required</span>
                </div>
            </div>
            <div class="submit-group">
                <button class="btn btn--brand btn-block" type="submit" data-ng-disabled="vm.handlers.isStep4FormSubmitDisabled()" data-ng-click="vm.handlers.setPassword()">Submit</button>
            </div>
        </form>
    </div>
    <div data-ng-show="vm.data.step == 5">
        <div data-ng-hide="vm.data.step5Form.hideForm">
            <span class="hint_accent">Step 5 of 5</span>
            <h4>Enter your name and surname</h4>
            <p class="lead">This is the last step to creating your profile.</p>
            <form class="form form_register" name="vm.step5Form" novalidate autocomplete="off">
                <div class="form-group">
                    <div class="input-group" data-ng-class="{'input-group--error': !vm.step5Form.FirstName.$valid && vm.step5Form.FirstName.$touched}">
                        <input placeholder="First name" class="form-control" name="FirstName" data-ng-model="vm.data.step5Form.firstName" required>
                    </div>
                    <div ng-show="vm.step5Form.$submitted || vm.step5Form.FirstName.$touched">
                        <span class="label_error" data-ng-show="vm.step5Form.FirstName.$error.required">First name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" data-ng-class="{'input-group--error': !vm.step5Form.LastName.$valid && vm.step5Form.LastName.$touched}">
                        <input placeholder="Last name" class="form-control" name="LastName" data-ng-model="vm.data.step5Form.lastName" required>
                    </div>
                    <div ng-show="vm.step5Form.$submitted || vm.step5Form.LastName.$touched">
                        <span class="label_error" data-ng-show="vm.step5Form.LastName.$error.required">Last name is required</span>
                    </div>
                </div>
                @* <div class="form-group"> *@
                @*     <div class="input-group" data-ng-class="{'input-group--error': !vm.data.step5Form.affiliateCodeCorrect && vm.step5Form.AffiliateCode.$touched}"> *@
                @*         <input placeholder="Affiliate code (optional)" class="form-control" name="AffiliateCode" *@
                @*                data-ng-model="vm.data.step5Form.affiliateCode" data-ng-blur="vm.handlers.checkAffiliateCode(true)" data-ng-change="vm.handlers.checkAffiliateCode(false)"> *@
                @*     </div> *@
                @*     <div ng-show="vm.step5Form.$submitted || vm.step5Form.AffiliateCode.$touched"> *@
                @*         <span class="label_error" data-ng-show="!vm.data.step5Form.affiliateCodeCorrect">Invalid code</span> *@
                @*     </div> *@
                @* </div> *@
                <div data-ng-repeat="error in vm.data.summaryErrors" class="label_error" data-ng-bind="error"></div>
                <div class="submit-group">
                    <button type="submit" class="btn btn--brand btn-block" data-ng-class="{'btn_loading': vm.data.loading}" data-ng-disabled="!vm.step5Form.$valid || vm.data.loading || !vm.data.step5Form.affiliateCodeCorrect" data-ng-click="vm.handlers.register()">Submit</button>
                </div>
            </form>
        </div>

        <div data-ng-if="vm.data.step5Form.state === 2">
            @Html.Partial("_Blocked", "")
        </div>
        <div data-ng-if="vm.data.step5Form.state === 1">
            @Html.Partial("_Suspended", "")
        </div>
    </div>
</div>
@section scripts
    {
    <environment names="Development">
        <script src="/js/vendor/angular.min.js"></script>
        <script src="/js/vendor/angular-recaptcha.min.js"></script>
        <script src="/js/vendor/mask.js"></script>
        <script src="/js/app/registerModule.js"></script>
        <script src="/js/app/directives/strongPassword.js"></script>
        <script src="/js/app/controllers/registrationController.js"></script>
        <script src="/js/app/services/registerService.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/register.min.js" asp-append-version="true"></script>
    </environment>
}
