@model WebAuth.Models.Profile.AddressInformationViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@{ Html.RenderPartial("Components/StepCarousel", Model); }

<div class="main-wrapper profile__block-wrap profile-steps__details-wrap">

    @{ Html.RenderPartial("Components/NextStepButton", Model); }

    <div class="profile-steps__details">

        @{ Html.RenderPartial("Components/StepDescription", Model); }

        <form class="profile-steps__form" enctype="multipart/form-data" method="post" asp-route-returnurl="@Model.ReturnUrl"
              asp-controller="Profile" asp-action="AddressInformation">
            <div class="form-group">
                <div class="form__input-wrap">
                    <label>City</label>
                    <input class="form-control form-control_long js-input-change" asp-for="City" data-changable="true"/>
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form__input-wrap">
                    <label>Address</label>
                    <input class="form-control form-control_long js-input-change" asp-for="Address" data-changable="true"/>
                </div>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form__input-wrap">
                    <label>Zip code</label>
                    <input class="form-control form-control_long js-input-change" asp-for="Zip" data-changable="true"/>
                </div>
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form__input-wrap js-file-upload">
                    <label>Colour copy of Passport or ID</label>
                    <div class="file-upload">
                        @if (!string.IsNullOrEmpty(Model.IdCard.DocumentName))
                        {
                            <div class="file-upload__file file-upload__file_visible">
                                <div class="file-upload__icon file-upload__icon_@Model.IdCard.DocumentMime"></div>
                                <div class="file-upload__name">@Model.IdCard.DocumentName</div>
@*                                <div class="block-description">24.5MB</div>*@
                            </div>
                        }
                        else
                        {
                            <div class="file-upload__file">
                                <div class="file-upload__icon"></div>
                                <div class="file-upload__name"></div>
                            </div>
                            <div class="file-upload__wrap btn-info form-control_long">
                                <span>Choose file...</span>
                                <input class="file-upload__input js-input-change" asp-for="@Model.IdCard.Document"
                                       accept=".png,.jpg,.jpeg" data-changable="true"/>
                                <input type="hidden" asp-for="@Model.IdCard.DocumentType"/>
                            </div>
                            <div class="file-upload__info">Maximum file size is 3Mb</div>
                        }
                    </div>
                </div>
                <span class="text-danger"></span>
            </div>

            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
            <div class="profile__btn-block">
                <a class="btn btn-default btn-lg btn_left" href="@Model.NextStepUrl">Skip</a>
                <input class="btn btn-primary btn-lg btn_right disabled" disabled name="NextStep" type="submit"
                       value="Next step"/>
            </div>
        </form>
    </div>

    @{ Html.RenderPartial("Components/PrevStepButton", Model); }

</div>