@using Microsoft.AspNetCore.Razor.TagHelpers
@using WebAuth.Extensions
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lykke - anyone can trade</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/profile/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/profile/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/profile/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/images/profile/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <environment names="Development">
        <link rel="stylesheet" href="/styles/profile/bootstrap-custom.min.css">
        <link rel="stylesheet" href="/styles/profile/style.css">
        <link rel="stylesheet" href="/styles/ng-img-crop.css">
        <link rel="stylesheet" href="/styles/style-custom.css">
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="/dist/profile.min.css" asp-append-version="true">
    </environment>

    <environment names="Development">
        <!--[if lte IE 9]>
            <script type="text/javascript" src="/js/vendor/html5shiv.js"></script>
        <![endif]-->
    </environment>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68151354-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body data-ng-app="profileApp">
    <aside class="menu_overlay"></aside>

    <aside class="sidebar_menu">
        <div class="sidebar_menu__inner">
            <div class="sidebar_menu__header">
                <button class="btn btn--icon btn_close_menu">
                    <i class="icon icon--close"></i>
                </button>
                <div class="header_logo">
                    @await Component.InvokeAsync("HeaderLogo")
                </div>
            </div>

            <div class="sidebar_menu__body">
                <ul class="main_projects_list">
                    <li class="main_projects_list__item">
                        <a href="https://www.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="/images/profile/lykke_wallet_logo.svg" alt="lykke_wallet_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Lykke<span>Wallet</span></div>
                                <div class="main_projects_list__text">
                                    Trade FX and Digital Assets
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="main_projects_list__item">
                        <a href="https://streams.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="/images/profile/streams_logo.svg" alt="streams_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Lykke<span>Streams</span></div>
                                <div class="main_projects_list__text">
                                    Collaboration platform. Here the great ideas meet bright minds.
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="main_projects_list__item">
                        <a href="https://blockchainexplorer.lykke.com/" target="_blank" class="main_projects_list__link">
                            <div class="main_projects_list__img">
                                <img src="/images/profile/bl_explorer_logo.svg" alt="bl_explorer_logo" width="50">
                            </div>
                            <div class="main_projects_list__content">
                                <div class="main_projects_list__title">Blockchain<span>Explorer</span></div>
                                <div class="main_projects_list__text">
                                    Search transaction, assets, addresses or blocks
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="sidebar_menu__footer">
                <ul class="social">
                    <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i><span> Facebook</span></a></li>
                    <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i><span> Twitter</span></a></li>
                    <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i><span> Instagram</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i><span> Youtube</span></a></li>
                    <li><a href="https://www.linkedin.com/company/lykke" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i><span> Linkedin</span></a></li>
                    <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i><span> Reddit</span></a></li>
                    <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i><span> Telegram</span></a></li>
                </ul>
            </div>
        </div>
    </aside>

    <div class="header_container">
        <header class="header">
            <div class="container">
                <div class="header__menu_button">
                    <button class="btn btn_menu btn--icon" type="button">
                        <span></span>
                    </button>
                </div>
                <div class="header__logo header_logo">
                    @await Component.InvokeAsync("HeaderLogo")
                </div>
                <div class="header__actions header_actions pull-right">
                    <div class="header_actions__login header_login pull-right">

                        @*<div class="header_user dropdown__control">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="@Url.Action("Index", "Profile")">
                                        <div class="header_user__img">
                                            <img src="/images/profile/user_default.svg" width="40" alt="user_image">
                                        </div>

                                        <div class="header_login__title">@User.Identity.GetName()</div>
                                    </a>
                                }
                                else
                                {
                                    <a href="/">
                                        <div class="header_login__title">Sign in</div>
                                    </a>
                                }

                            </div>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="dropdown__container">
                                    <ul class="dropdown__nav">
                                        <li><a href="@Url.Action("Logout", "Authorization")">Sign Out</a></li>
                                    </ul>
                                </div>
                            }*@
                    </div>

                </div>
            </div>
        </header>
    </div>

    @RenderBody()

    <footer class="footer">
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-right pull-right">
                        <div class="clearfix">
                            <ul class="social social--footer_alt">
                                <li><a href="https://lykke.com/" target="_blank"><i class="icon icon--lykke"></i></a></li>
                                <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
                                <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
                                <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/lykke" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
                                <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
                                <li><a href="https://telegram.me/joinchat/AEGiqkF-_dNaHMwQbRSnAg" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 text-left">
                        <div class="footer__copy">
                            &copy; Lykke @DateTime.Now.Year. All rights reserved
                            <span class="middot">&middot;</span>
                            <a href="">Terms of Use</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="/js/vendor/jquery.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/fastclick.min.js"></script>
        <script src="/js/vendor/clipboard.min.js"></script>
        <script src="/js/vendor/angular.min.js"></script>
        <script src="/js/vendor/ng-file-upload-all.min.js"></script>
        <script src="/js/vendor/ng-img-crop.js"></script>
        <script src="/js/app/profileModule.js"></script>
        <script src="/js/app/controllers/userProfileController.js"></script>
        <script src="/js/app/services/userProfileService.js"></script>
        <script src="/js/functions.js"></script>
    </environment>
    <environment names="Production">
        <script src="/dist/profile.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", false)
</body>
</html>